body{
    margin: 0px;
    font-family:Yu Gothic;
    color: #8b0000;
}

header{
    color: #8b0000;
    background-color: #ffffff;
    justify-content: flex-start;
}

header h1{
    padding: 5px 20px;
    margin: 0px;

    font-size: 40px;
}

header img{
    margin-left: 0px;
}

main{
    padding: 5px;
}

main h1{
    padding: 15px 5px 15px 5px;
    margin: 0px;
    text-align: center;
    color:#8b0000;
    border-bottom: 1px solid #8b0000;
}

main .item{
    border: 1px solid #8b0000;
    padding: 5px;
}

main h2{
    color: #8b0000;
}

main p{
    text-align: right;
}

a {
    text-decoration: none;
}

.back{
    margin-top: 30px;
}